services:
  app:
    build:
      context: .
    volumes:
      - ./config/config.json:/app/config/config.json
    env_file:
      - ./config/.env
    ports:
      - "127.0.0.1:5000:5000"
    restart: unless-stopped